RDF_DATASTORE_API_HOST=rdf_datastore_api
RDF_DATASTORE_API_PORT=60001
RDF_DATASTORE_API_ENDPOINT=http://rdf_datastore_api:60001

WEBUI_HOST=workflows_validation_ui
WEBUI_PORT=8080

VIRTUOSO_HOST=virtuoso_CRC_1625
VIRTUOSO_PORT=8890
VIRTUOSO_ADDRESS=http://${VIRTUOSO_HOST}:${VIRTUOSO_PORT}
VIRTUOSO_ODBC_PORT=1111
VIRTUOSO_USER=youruser
VIRTUOSO_PASS=yourpassword

MSSQL_HOST=127.0.0.1
MSSQL_PORT=1433
MSSQL_USER=youruser_only_required_if_using_local_DBs
MSSQL_PASSWORD=yourpassword_only_required_if_using_local_DBs
MSSQL_MASTER_DATABASE_NAME=master
MSSQL_CRC1625_DATABASE_NAME=RUB_INF

MSSQL_PROD_TENANT_URL=only_available_for_CRC_1625_users
MSSQL_PROD_API_KEY=only_available_for_CRC_1625_users

VIRTUOSO_DOCKER_CONTAINER_NAME=virtuoso_CRC_1625
